In [5]:
import mysql.connector
from paho.mqtt import client as mqtt
import time
import requests

In [6]:
#MQTT
# def on_log(client, userdata, level, buf):
#     print("log: "+buf)
# def on_connect(client, userdata, flags, rc):
#     if rc ==0:
#         print("connected OK")
#     else:
#         print("Bad connected returned code=",rc)
# def on_disconnect(client,usedata, flags, rc=0):
#     print("Disconndected result code "+str(rc) )
# def on_message(client,userdata,msg):
#     topic=msg.topic
#     m_decode=str(msg.payload.decode("utf-8","ignore"))
#     print("message received",m_decode)
# broker = "broker.emqx.io"
# client = mqtt.Client("python1")

# client.on_connect=on_connect
# client.on_disconnect=on_disconnect
# client.on_log=on_log
# client.on_message=on_message
# print("Connnecting to broker ",broker)

# client.connect(broker)
# client.loop_start()
# client.subscribe("TestConfig/mqtt")
# client.publish("TestConfig/mqtt","Hello World")
# time.sleep(3)
# client.loop()
# client.disconnect()

In [7]:
# Connect E40DB
mydb = mysql.connector.connect(
  host="163.50.57.96",
  user="admin",
  password="conDB!@#$%",
  database="mt900"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020E4529D0F0>

In [8]:
mycursor = mydb.cursor()

# Read data
mycursor.execute("SELECT * FROM twomask_cpk")
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, '4.791', '0.629', '4.727', '0.542', '236PB1234')

In [9]:
# Insert data
# sql = "INSERT INTO twomask_cpk (front_pos,front_width,back_pos,back_width,lotno) VALUES (%s,%s,%s,%s,%s)" 
# val = ("4.791","0.629","4.727","0.542","236PB1234")
# mycursor.execute(sql,val)

# mydb.commit()

# print(mycursor.rowcount, "record inserted.")

In [10]:
# Delete data
# mycursor.execute("DELETE FROM user_tb WHERE iduser_tb > 51 ")
# mydb.commit()

# print(mycursor.rowcount, "record(s) deleted")

In [11]:
x = requests.get('http://127.0.0.1:8000/gbook')
print(x.text)

[{"title":"New 2b","price":400.0}]